main {
  /* cant be smaller than 80hv */
  /* 80% ක vh - view point height  එකක් පවති*/
  /* vw - view point width*/
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}
